@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about:-This is a demo app which is use for Add Visual studio Code to git and 
        then create a azure Devops project to add this git repo to that project.
        Then deploy this project in azure devops </p>
</div>
